@media (max-width: 767px)

  .screen_eleven, .screen_twelve
    video
      display: none !important
      img
        display: inline !important

  .screen_four, .screen_pre-six, .screen_ten, .screen_eleven, .screen_twelve
    align-self: center
